<!-- Début du formulaire avec un groupe de contrôles réactifs lié à `loginForm` -->
<form class="container card mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Champ pour le nom d'utilisateur -->
  <div>
    <label for="username">Nom d'utilisateur</label>
    <!-- Style Bootstrap pour une meilleure apparence -->
    <input class="form-control" id="username" formControlName="username" type="text" />
  </div>

  <!-- Champ pour le mot de passe -->
  <div>
    <label for="password">Mot de passe</label>
    <!-- Le type d'entrée est un mot de passe, cachant les caractères -->
    <input class="form-control" id="password" formControlName="password" type="password" />
  </div>

  <!-- Bouton de soumission, désactivé tant que le formulaire est invalide -->
  <button class="btn" type="submit" [disabled]="!loginForm.valid">
    Connexion
    <!-- Icône de cadenas fermée si le formulaire n'est pas valide -->
    <svg
      *ngIf="!loginForm.valid"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      fill="currentColor"
      class="bi bi-lock-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
      />
    </svg>
    <!-- Icône de cadenas ouverte si le formulaire est valide -->
    <svg
      *ngIf="loginForm.valid"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      fill="currentColor"
      class="bi bi-unlock-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"
      />
    </svg>
  </button>
</form>

<!-- Affichage des règles si le mot de passe est invalide -->
<div class="container rules card mt-3" *ngIf="loginForm.get('password')?.errors?.['passwordInvalid']">
  <strong> Le mot de passe doit contenir :</strong>
  <!-- Liste des règles de validation du mot de passe avec des icônes dynamiques -->
  <small [ngClass]="{ 'valid bi bi-check': isLowerCaseValid, 'invalid bi bi-x': !isLowerCaseValid }">
    Au moins une lettre minuscule
  </small>
  <small [ngClass]="{ 'valid bi bi-check': isUpperCaseValid, 'invalid bi bi-x': !isUpperCaseValid }">
    Au moins une lettre majuscule
  </small>
  <small [ngClass]="{ 'valid bi bi-check': isNumericValid, 'invalid bi bi-x': !isNumericValid }">
    Au moins un chiffre (0-9)
  </small>
  <small [ngClass]="{ 'valid bi bi-check': isSpecialCharValid, 'invalid bi bi-x': !isSpecialCharValid }">
    Au moins un caractère spécial
  </small>
  <small [ngClass]="{ 'valid bi bi-check': isMinLengthValid, 'invalid bi bi-x': !isMinLengthValid }">
    Un minimum de 8 caractères
  </small>
</div>
