<div class="container card">
  <div class="mb-3">
    <label for="user" class="form-label">Utilisateur</label>
    <input
      type="text"
      class="form-control"
      id="user"
      placeholder="nom d'utilisateur"
      formControlName="user"
    />
  </div>
  <form class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input
      (keypress)="onValidate()"
      type="password"
      class="form-control"
      id="password"
      placeholder="password"
      formControlName="user"
    />
  </form>
  <span>&#128274;</span>
  <!-- Cadenas fermé -->

  <div>
    <button class="btn" type="submit">
      Envoyer
      <svg
        *ngIf="!isValid"
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-lock-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
        />
      </svg>
      <svg
        *ngIf="isValid"
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-unlock-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"
        />
      </svg>
    </button>
  </div>
</div>
